.navbar {
    background-color: rgb(154, 190, 219);
    overflow: hidden;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    text-align: center;
}
.navbar li {
    list-style-type: none;
    display:inline;
}

.navbar a {
    font-size:35px;
    padding: 14px 30px;
    text-decoration: none;
    color: rgb(102, 102, 202);
}

.navbar a:hover{
    background-color: rgb(102, 102, 202);
    color: rgb(154, 190, 219);
}

.welcome{
    background-color:rgb(199, 212, 223);
    color: rgb(102, 102, 202);
    padding: 10% 5%;
    text-align: center;
    display: box; 
}

.Equipment{
    background-color: rgb(199, 212, 223);
    color: rgb(102, 102, 202);
    padding:10% 5%;
    text-align: center;
    display: box;
}

.resorts{
    background-color: rgb(199, 212, 223);
    color: rgb(102, 102, 202);
    padding: 10% 5%;
    text-align: center;
    display: box;
}

.terrain{
    background-color:rgb(199, 212, 223);
    color: rgb(102, 102, 202);
    padding: 10% 5%;
    text-align: center;
    display:box;
}

body{
    margin:0;
    padding:0;
}

.contentA{
    background-color:rgb(154, 190, 219);
    padding:10% 5%;
    display:flex;
    text-align: center;
}

.contentA img{
    width: 70%;
    float:left;
}

.beginner img{
    width: 20%;
    float: right;
    
}

.beginner{
    background-color: #CAE9FF;
    color: #1B4965;
    padding: 10% 5%;
    text-align:left;
}

.beginner p{
    font-size:25px;
}

.intermediate img{
    width: 20%;
    float: left;
}

.intermediate{
    background-color: #5FA8D3;
    color: #1B4965;
    padding: 10% 5%;
    text-align: right;
}

.intermediate p{
    font-size:25px;
}

.advanced img{
    width: 20%;
    float: right;
}

.advanced{
    background-color: #CAE9FF;
    color: #1B4965;
    padding: 10% 5%;
    text-align: left;
}

.advanced p{
    font-size:25px;
}

.expert img{
    width: 20%;
    float: left;
}

.expert{
    background-color: #5fa8d3;
    color:#1B4965;
    padding: 10% 5%;
    text-align: right;
}

.expert p{
    font-size: 25px;
}

.contentA p{
    font-size: 2vw;
    color: rgb(102, 102, 202);
    padding-left: 5%;
}

.contentB{
    background-color:#CAE9FF;
    color:#1B4965;
    padding:5% 5%;
    text-align:center;
}

.contentB img{
    width:30%;
    float:center;
}

.contentC{
    background-color:#5FA8D3;
    color:#1B4965;
    padding:5% 5%;
    text-align:center;
}

.contentC img{
    width:30%;
    float:center;
}

.contentD{
    background-color:#CAE9FF;
    color:#1B4965;
    padding:5% 5%;
    text-align:center;
}

.contentD img{
    width:30%;
    float:center;
}

.contentE{
    background-color:#5FA8D3;
    color:#1B4965;
    padding:5% 5%;
    text-align:center;
}

.contentE img{
    width:30%;
    float:center;
}

.contentF{
    background-color:#CAE9FF;
    color:#1B4965;
    padding:5% 5%;
    text-align:center;
}

.contentF img{
    width:30%;
    float:center;
}

.contentG{
    background-color:#5FA8D3;
    color:#1B4965;
    padding:5% 5%;
    text-align:center;
}

.contentG img{
    width: 30%;
    float: center;
}

.contentH{
    background-color:#CAE9FF;
    color:#1B4965;
    padding:5% 5%;
    text-align:center;
}

.contentH img{
    width:30%;
    float: center;
}

.states{
    background-color: #5FA8D3;
    font-size: 30px;
    color: #1B4965;
}
